nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    margin: 20px 30px;
    padding: 12px 24px;
    border-radius: 8px;
    display: flex;
    gap: 18px;
    align-items: center;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0px;
    padding: 0px;
    gap: 20px;
    z-index: 4;
    justify-content: center;
}

/* Style rule set for individual li */
li {
    float: left;
    margin: 10px;
}


/* Style rule set for individual li link */
li a {
    font-family: Arial;
    color: #8D8DF6;
    font-size: 16px;
    text-decoration: none;
}

/* Style rule set for hovered link */
li a:hover {
    font-weight: bold;
    color: #B69AF9;
}